.sidebar{

    position:fixed;

    left:0;

    top:0;

    width:280px;

    height:100vh;

    background:#1e293b;

    overflow-y:auto;

    transition:.3s;

    z-index:1100;

}

.sidebar::-webkit-scrollbar{

width:6px;

}

.sidebar::-webkit-scrollbar-thumb{

background:#334155;

border-radius:20px;

}

.sidebar-logo{

height:70px;

display:flex;

justify-content:center;

align-items:center;

font-size:24px;

font-weight:700;

gap:12px;

background:#0B1220;

letter-spacing:1px;

}

.sidebar-logo i{

color:#38BDF8;

font-size:28px;

}

.sidebar-menu{

list-style:none;

padding:20px 0;

margin:0;

}

.sidebar-menu li{

margin:5px 0;

}

.sidebar-menu a{

display:flex;

justify-content:space-between;

align-items:center;

padding:14px 25px;

color:#CBD5E1;

text-decoration:none;

transition:.3s;

font-size:15px;

}

.sidebar-menu a div{

display:flex;

align-items:center;

gap:15px;

}

.sidebar-menu a:hover{

background:#1E293B;

color:white;

border-left:4px solid #38BDF8;

}

.sidebar-menu a.active{

background:#2563EB;

color:white;

border-left:4px solid white;

}

.submenu{

display:none;

background:#111827;

padding-left:20px;

}

.submenu li a{

padding:12px 20px;

font-size:14px;

}

.arrow{

transition:.3s;

}

.menu-item.open .arrow{

transform:rotate(180deg);

}