:root{

--primary:#0F766E;

--secondary:#2563EB;

--success:#16A34A;

--warning:#F59E0B;

--danger:#DC2626;

--dark:#1E293B;

--light:#F8FAFC;

--card:#FFFFFF;

--text:#334155;

--border:#E2E8F0;

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Poppins',sans-serif;

    background:#f5f7fb;

    overflow-x:hidden;

}
.main-content{

    margin-left:280px;

    margin-top:70px;

    min-height:100vh;

    transition:.3s;

}

.page-content{

    padding:25px;

}

a{

text-decoration:none;

}

.card{

border:none;

border-radius:15px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

transition:.3s;

}

.card:hover{

transform:translateY(-5px);

}

